@import url("https://use.typekit.net/tsp2exx.css");

@font-face {
  font-family: 'Housearama kingpin';
  src: url('https://uploads-ssl.webflow.com/5a206fab106bec000186c2a6/5b3f0ce6fa3aa93a1c76f182_Housearama-Kingpin.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fontawesome webfont';
  src: url('https://uploads-ssl.webflow.com/5a206fab106bec000186c2a6/5a256ccecee03300014d6a9b_fontawesome-webfont.woff2') format('woff2'), url('https://uploads-ssl.webflow.com/5a206fab106bec000186c2a6/5a256cce828e8f00011e8b02_fontawesome-webfont.eot') format('embedded-opentype'), url('https://uploads-ssl.webflow.com/5a206fab106bec000186c2a6/5a256cce828e8f00011e8aff_fontawesome-webfont.woff') format('woff'), url('https://uploads-ssl.webflow.com/5a206fab106bec000186c2a6/5a256cce9058c30001cdf83c_fontawesome-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fontawesome';
  src: url('https://uploads-ssl.webflow.com/5a206fab106bec000186c2a6/5a256cce53055c000178f148_FontAwesome.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: museo-sans-rounded,sans-serif;
  color: #462B20;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}